<md-content layout="column" flex>
  <md-card>
    <md-card-actions layout="row" flex>
      <md-button class="md-icon-button md-offset" ui-sref="layout.pgconfig.tabela.tabelaCad" aria-label="close">
          <md-icon>arrow_back</md-icon>
          <md-tooltip>Voltar para classificação</md-tooltip>
      </md-button>      
      <span class="md-title" layout-padding>{{$ctrl.tabela.tabPrazos.data.label}} tabela</span>
      <span flex></span>
      <md-button class="md-icon-button md-warn" ng-click="$ctrl.tabela.tabPrazos.callCreateTableItens($ctrl.tabela.tabPrazos.data.row)" ng-disabled="$ctrl.tabela.tabPrazos.criandotabela.status" ng-show="$ctrl.tabela.tabPrazos.data.row.id_tp">
          <md-icon>flash_on</md-icon>
          <md-tooltip md-autohide="true">Aplicar tabela nos itens cadastrados</md-tooltip>
      </md-button>
    </md-card-actions>
    <md-divider></md-divider>
    <md-card-content>
      <form name="form" novalidate autocomplete="off">
        <span class="md-subhead text-info">{{$ctrl.tabela.data.row.descricao}}</span>
        <div layout-gt-xs="row" flex>
          <md-input-container class="md-block" flex="60">
            <label class="md-body-2">Descrição da tabela</label>
            <input type="text" required  name="descricao" ng-model="$ctrl.tabela.tabPrazos.data.row.descricao" ng-change="$ctrl.tabela.tabPrazos.data.onChange($ctrl.tabela.tabPrazos.data.row)">
            <div ng-messages="form.descricao.$error">
              <div ng-message="required">Informe a descrição do prazo.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label class="md-body-1">% Lucro Opcional</label>
            <input required type="number" name="percentual" min="0.00" ng-model="$ctrl.tabela.tabPrazos.data.row.percentual" ng-change="$ctrl.tabela.tabPrazos.data.onChange($ctrl.tabela.tabPrazos.data.row)">
            <div ng-messages="form.percentual.$error">
              <div ng-message="required">Informe um valor percentual.</div>
            </div>          
          </md-input-container>
        </div>


      </form>

      <div class="alert alert-info" ng-show="$ctrl.tabela.tabPrazos.criandotabela.showInfo">
        <md-progress-linear ng-show="$ctrl.tabela.tabPrazos.criandotabela.status" md-mode="determinate" value="{{$ctrl.tabela.tabPrazos.criandotabela.progress}}"></md-progress-linear>
        <p><md-icon>info</md-icon> {{$ctrl.tabela.tabPrazos.criandotabela.msg}}</p>
      </div>
      <div ng-show="$ctrl.tabela.tabPrazos.data.row.id_tp">
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="start center" layout-margin >
          <md-button class="md-fab md-mini" ng-click="$ctrl.tabela.tabPrazos.tabPrazosMp.informarMeioPag($event)">
              <md-icon>insert_link</md-icon>
              <md-tooltip md-autohide="true">Vincular Meio de pagamento ao prazo da tabela</md-tooltip>
          </md-button>
          <span>Meios de Pagamentos Vinculados</span>
        </md-card-actions>

        <j-table flex funcoes="$ctrl.tabela.tabPrazos.tabPrazosMp.data.funcTable"></j-table>
      </div>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="end center" layout-margin>
      <md-button class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="$ctrl.tabela.tabPrazos.data.salvar()" ng-show="$ctrl.tabela.tabPrazos.data.row.action">Salvar</md-button>

    </md-card-actions>
  </md-card>
</md-content>