
<md-toolbar class="md-table-toolbar md-default" flex>
    <div class="md-toolbar-tools">
        <md-nav-bar  md-truncate>
            <md-nav-item md-nav-sref="layout.ctrlAcesso.usuarios" name="usuario" md-truncate>
                Usuários
            </md-nav-item>
            <md-nav-item md-nav-sref="layout.ctrlAcesso.perfils" name="perfil" md-truncate>
                Perfils
            </md-nav-item>
        </md-nav-bar>
    </div>
</md-toolbar>
<md-divider></md-divider>
<md-content flex>
    <ui-view></ui-view>
</md-content>
