<div layout="column" class="painel" md-whiteframe="4">


    <div class="modal-header">
        <h3 class="modal-title">Filtros Especificos</h3>
    </div>
    <div class="modal-body" layout-padding >
        <div >
            <form name="form" autocomplete="off" layout-gt-xs="row">
                <md-input-container>
                  <label>Campo do filtro</label>
                  <md-select name="type" ng-model="filtro.campo" required style="min-width: 200px;">
                    <md-option ng-repeat="f in vm.funcoes.filtros.fields" ng-value="f.field">
                        {{f.alias}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container>
                  <label>Expressão</label>
                  <md-select name="type" ng-model="filtro.express" required style="min-width: 200px;">
                    <md-option value="=">Igual</md-option>
                    <md-option value="LIKE">Contém</md-option>
                    <md-option value="<>">Diferente</md-option>
                  </md-select>
                </md-input-container>

                <md-input-container>
                  <label>Valor a ser filtrado</label>
                  <input required name="description" ng-model="filtro.value">
                </md-input-container>

                <md-button class="md-accent md-fab" ng-class="{'md-mini':vm.funcoes.mediaxs()}" ng-click="vm.funcoes.filtros.addFiltro(filtro)" ng-disabled="form.$invalid">
                  <md-icon>{{form.$invalid?'block':'check'}}</md-icon>
                  <md-tooltip>Adicionar Filtro</md-tooltip>
                </md-button>
            </form>

        </div>
        <md-chips ng-model="vm.funcoes.filtros.fildsQuery" readonly="true" md-removable="true">
          <md-chip-template>
            <span>{{$chip.campo}}:{{$chip.campo=='status'?($chip.value=='1'?'Ativo':'Inativo'):$chip.value}}</span>
          </md-chip-template>
        </md-chips>

     
        <div layout="row" layout-align="end center">
          <md-button class="md-accent"  ng-click="vm.close();vm.funcoes.read()">
            <md-icon>search</md-icon>
            Filtrar
          </md-button> 
        </div>
    </div>

</div>