<div layout="column" flex>
  <md-toolbar class="md-default md-hue-2">
    <div class="md-toolbar-tools">
      <span>{{$ctrl.funcoes.dados.label+$ctrl.funcoes.title}}</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()" aria-label="close">
          <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card>
    <md-card-content>
      <form name="form" novalidate autocomplete="off">
        <div layout-padding layout-gt-xs="row">
          <div flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>Nome</label>
              <input required  name="nome" ng-model="$ctrl.funcoes.dados.row.nome" ng-change="$ctrl.funcoes.onChange()">
              <div ng-messages="form.nome.$error" ng-show="form.nome.$invalid">
                <p ng-message="required">Nome de usuario é obrigatório</p>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Email</label>
              <input required type="email" name="email" ng-model="$ctrl.funcoes.dados.row.email"ng-pattern="/^.+@.+\..+$/" />

              <div ng-messages="form.email.$error" role="alert" ng-show="form.email.$error">
                <div ng-message-exp="['required', 'pattern']">
                  Informe um email válido.
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <md-switch class="md-accent" name="status"  ng-model="$ctrl.funcoes.dados.row.status" required ng-true-value="1" ng-false-value="0">
                {{$ctrl.funcoes.dados.row.status==1?'Ativo':'Inativo'}}
              </md-switch>
            </md-input-container>
          </div>
          <div flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>Perfil do usuário</label>
              <md-select name="type" ng-model="$ctrl.funcoes.dados.row.id_perfil" required>
                <md-option ng-repeat="perfil in $ctrl.funcoes.perfils.perfil.rows" ng-value="perfil.id_perfil">
                    {{perfil.nome}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-autocomplete
                flex
                md-no-cache="false"
                md-search-text="$ctrl.searchFil"
                md-selected-item="$ctrl.funcoes.dados.row.filial"
                md-items="row in $ctrl.funcoes.filial.filtroAutoComplete($ctrl.searchFil)"
                md-selected-item-change="$ctrl.funcoes.changeAutoCompleteFil($ctrl.funcoes.dados.row,row)"
                md-item-text="row.nome_red"
                md-min-length="0"
                md-clear-button="true"
                md-floating-label="Filial que estará logado">
              <md-list class="md-dense">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="column">
                      <div layout="row">
                        <h3 flex="60" md-highlight-text="$ctrl.searchFil" md-highlight-flags="^i">{{row.nome_red}}</h3>
                        <h4 flex="40" md-highlight-text="$ctrl.searchFil" md-highlight-flags="^i">{{row.cpf_cnpj}}</h4>
                      </div>
                      <p flex class="text-muted" md-highlight-text="$ctrl.searchFil" md-highlight-flags="^i">{{row.nome_comp}}</p>
                    </div>

                </md-list-item>
              </md-list>

              <md-not-found>
                A filial "{{$ctrl.searchFil}}" não foi encontrado.
              </md-not-found>
            </md-autocomplete>


            <md-autocomplete
                flex
                md-no-cache="false"
                md-search-text="$ctrl.searchVend"
                md-selected-item="$ctrl.funcoes.dados.row.vendedor"
                md-items="row in $ctrl.funcoes.vendedor.filtroAutoComplete($ctrl.searchVend)"
                md-selected-item-change="$ctrl.funcoes.changeAutoCompleteVend($ctrl.funcoes.dados.row,row)"
                md-item-text="row.nome_red"
                md-min-length="0"
                md-clear-button="true"
                md-floating-label="Link com o vendedor">
              <md-list class="md-dense">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="column">
                      <div layout="row">
                        <h3 flex="60" md-highlight-text="$ctrl.searchVend" md-highlight-flags="^i">{{row.nome_red}}</h3>
                        <h4 flex="40" md-highlight-text="$ctrl.searchVend" md-highlight-flags="^i">{{row.cpf_cnpj}}</h4>
                      </div>
                      <p flex class="text-muted" md-highlight-text="$ctrl.searchVend" md-highlight-flags="^i">{{row.nome_comp}}</p>
                    </div>

                </md-list-item>
              </md-list>

              <md-not-found>
                O vendedor "{{$ctrl.searchVend}}" não foi encontrado.
              </md-not-found>
            </md-autocomplete>



            <div ng-show="$ctrl.funcoes.dados.row.id_usuario===$ctrl.funcoes.userLogado.id_usuario">
              <md-button class="md-raised md-accent" ng-click="showAltSenha=true">
                Alterar Senha
              </md-button>
            </div>
          </div>
        </div>

      </form>
      <div ng-show="showAltSenha">
        <md-subheader>Alterar senha</md-subheader>
        <!--You can use md-no-sticky class-->
        <form name="formAltSenha" layout="row">
          <md-input-container class="md-block">
            <label>Senha atual</label>
            <input type="password" required name="oldSenha" ng-model="$ctrl.funcoes.alterarSenha.oldSenha">
            <div ng-show="$ctrl.funcoes.alterarSenha.senhaInvalida">
              <p class="text-danger">Senha atual não está correta!</p>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Nova senha</label>
            <input type="password" required  name="newSenha" ng-model="$ctrl.funcoes.alterarSenha.newSenha">
            <div ng-show="$ctrl.funcoes.alterarSenha.newSenha==$ctrl.funcoes.alterarSenha.repSenha && $ctrl.funcoes.alterarSenha.newSenha">
              <p><md-icon class="text-success">done</md-icon></p>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Repita a nova senha</label>
            <input type="password" required  name="repSenha" ng-model="$ctrl.funcoes.alterarSenha.repSenha">
            <p ng-show="$ctrl.funcoes.alterarSenha.newSenha==$ctrl.funcoes.alterarSenha.repSenha && $ctrl.funcoes.alterarSenha.newSenha"><md-icon class="text-success">done</md-icon></p>
            <p ng-show="$ctrl.funcoes.alterarSenha.newSenha!=$ctrl.funcoes.alterarSenha.repSenha && $ctrl.funcoes.alterarSenha.repSenha"><md-icon class="text-danger">error</md-icon></p>
          </md-input-container>

        </form>
        <md-button class="md-raised md-accent" ng-hide="$ctrl.funcoes.alterarSenha.senhaAlterada" ng-disabled="formAltSenha.$invalid||$ctrl.funcoes.alterarSenha.newSenha!=$ctrl.funcoes.alterarSenha.repSenha||$ctrl.funcoes.dados.salvando" ng-click="$ctrl.funcoes.validarSenha($ctrl.funcoes.dados.row.email);">
          <i ng-show="$ctrl.funcoes.dados.salvando" class="fa fa-spinner fa-spin"></i>
          Confirmar Alteração
        </md-button>
        <p ng-show="$ctrl.funcoes.alterarSenha.senhaAlterada" class="text-success">Senha alterada com sucesso!</p>
      </div>

      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-accent"  ng-click="$ctrl.funcoes.salvarUsuario()">
            Salvar
          </md-button>
          <md-button class="md-accent" ng-click="$ctrl.close()">
            Cancelar
          </md-button>
      </md-card-actions>
    </md-card-content>
  </md-card>
</div>
