<div layout="column" flex>
  <md-toolbar class="md-default md-hue-2">
    <div class="md-toolbar-tools">
      <span>{{$ctrl.funcoes.dados.label+$ctrl.funcoes.title}}</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()" aria-label="close">
          <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card>
    <md-card-content>
      <form name="form" novalidate autocomplete="off">
        <div layout-padding layout-gt-xs="row">
          <div flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>Nome Completo</label>
              <input required  name="nome" ng-model="$ctrl.funcoes.dados.row.nome" ng-change="$ctrl.funcoes.onChange()">
              <div ng-messages="form.nome.$error" ng-show="form.nome.$invalid">
                <p ng-message="required">Nome de usuario é obrigatório</p>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Email</label>
              <input required type="email" name="email" ng-model="$ctrl.funcoes.dados.row.email"ng-pattern="/^.+@.+\..+$/" />

              <div ng-messages="form.email.$error" role="alert" ng-show="form.email.$error">
                <div ng-message-exp="['required', 'pattern']">
                  Informe um email válido.
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <md-switch class="md-accent" name="status"  ng-change="$ctrl.funcoes.dados.onChange()" ng-model="$ctrl.funcoes.dados.row.status" required ng-true-value="1" ng-false-value="0">
                {{$ctrl.funcoes.usuario.status==1?'Ativo':'Inativo'}}
              </md-switch>
            </md-input-container>
          </div>
          <div flex-gt-xs="50">
            <md-input-container class="md-block">
              <label>Perfil do usuário</label>
              <md-select name="type" ng-model="$ctrl.funcoes.dados.row.id_perfil" required ng-change="$ctrl.funcoes.dados.onChange()">
                <md-option ng-repeat="perfil in $ctrl.funcoes.perfils.perfil.rows" ng-value="perfil.id_perfil">
                    {{perfil.nome}}
                </md-option>
              </md-select>
            </md-input-container>
            <div ng-show="$ctrl.funcoes.dados.row.id_usuario===1">
              <md-subheader>Alterar Senha</md-subheader>
              <!--You can use md-no-sticky class-->
              <md-input-container class="md-block">
                <label>Senha Atual</label>
                <input name="senha-atual" ng-model="$ctrl.funcoes.dados.row.login">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Nova Senha</label>
                <input name="senha-atual" ng-model="$ctrl.funcoes.dados.row.login">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Repita a nova senha</label>
                <input name="senha-atual" ng-model="$ctrl.funcoes.dados.row.login">
              </md-input-container>

            </div>


          </div>
        </div>

      </form>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-accent"  ng-click="$ctrl.funcoes.dados.salvar()">
            Salvar
          </md-button>
          <md-button class="md-accent" ng-click="$ctrl.close()">
            Cancelar
          </md-button>
      </md-card-actions>
    </md-card-content>
  </md-card>
</div>
