
<md-content layout="column">
  <md-card>

    <md-card-actions layout-gt-xs="row" layout-xs="column" flex layout-align-gt-xs="start center" layout-align-xs="center start">
        <span class="md-title" flex layout-margin>{{$ctrl.funcoes.cliente.label}} Cliente</span>
        <span flex></span>
        <md-button class="md-icon-button" ui-sref="layout.cliente" aria-label="close">
            <md-icon>close</md-icon>
        </md-button>
    </md-card-actions>

    <md-divider></md-divider>

    <md-card-content class="atura-content">

      <form name="form" novalidate autocomplete="off">
        <div layout-xs="column" layout-gt-xs="row" flex>

          <pessoa funcoes="$ctrl.funcoes.pessoaFunc">
          </pessoa>


        </div>
        <div layout="row">
          <md-radio-group name="status" required ng-model="$ctrl.funcoes.cliente.row.status" class="md-block">
            <label class="md-body-2">Status do cliente</label>
            <div layout="row">
              <md-radio-button value="1" class="md-caption">Ativo</md-radio-button>
              <md-radio-button value="0" class="md-caption">Inativo</md-radio-button>
            </div>
          </md-radio-group>

          <md-input-container >
            <label class="md-body-1">Tabela de Preço</label>
            <md-select ng-model="$ctrl.funcoes.cliente.row.id_tabela" md-on-open="$ctrl.funcoes.filtrarTabela()">
              <md-option value=""></md-option>
              <md-option ng-value="tab.id_tabela" ng-repeat="tab in $ctrl.funcoes.tabela.data.rows">{{tab.descricao}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container >
            <label class="md-body-1">Limite de Crédito</label>
            <input type="number" name="limite_credito" min="0.00" ng-model="$ctrl.funcoes.cliente.row.limite_credito" >
          </md-input-container>
        </div>

      </form>

    </md-card-content>

    <md-card-footer>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="$ctrl.funcoes.salvar();">Salvar</md-button>

        </md-card-actions>
    </md-card-footer>
  </md-card>
</md-content>