<style media="screen">
  #primeira-cor{
    background-color:{{$ctrl.funcoes.sessao.row.cor1}};
    width:100px;
    height:100px;
    border-radius:5%;
  }
  #segunda-cor{
    background-color:{{$ctrl.funcoes.sessao.row.cor2}};
    width:100px;
    height:100px;
    border-radius:5%;
  }
  .shape{
    position:relative;
    height:50px;
    width:50px;
    border-radius:50%;
  }
  .steps,.step{
    height:100%;
  }
</style>

<div layout="column" flex class="visao">
  <md-content layout="column" class="md-default" flex layout-align="start center">
  <wizard on-finish="finishedWizard()" flex style="width:100%" indicators-position="top">
    <wz-step wz-title="" flex>
      <div layout="column" flex layout-align="start stretch" layout-padding class="visao">
        <div layout="row" layout-align="center center" layout-padding>
          <p>O Swishi de Cores é uma Técnica de PNL –Programação Neurolingüística adaptada para novas tecnologias pelo Psicanalista Ednézio Santiago, Master em PNL.</p>
          <br>
        </div>
        <div layout="row" layout-align="center center" layout-padding>
          <md-button class="md-raised" wz-next aria-label="Proximo" md-no-ink="true" >
            Proximo
            <md-icon>arrow_forward</md-icon>
          </md-button>
        </div>

      </div>
      <div style="position:relative;bottom:10px" align="center" layout-padding>
        <md-divider></md-divider>
        <i>
          Referência: Finck. Perry. Dislexia é uma fobia. Revista Anchor Point. Vol. 18 n. 8, 2005. Disponível em
          <a href="http://golfinho.com.br/artigo/dislexia-e-uma-fobia.htm">golfinho.com.br/artigo/dislexia-e-uma-fobia</a>
        </i>

      </div>
    </wz-step>
    <wz-step wz-title="" flex>
      <div layout="column" flex layout-align="start stretch" layout-padding class="visao">
        <div layout-padding>
          <p>
            Lembre de um fato ou momento da sua vida que lhe incomoda bastanteou que lhe dá uma sensação ruim.Lembre dos detalhes, do que viu, do que ouviu e do que sentiu!
          </p>
          <p>
            Imagine você vendo, ouvindo e sentindo todas as sensações que este fato ou momento da sua vida geram em você.
          </p>
          <br>
        </div>
        <div layout="row" layout-align="center center" layout-padding>
          <md-button class="md-raised" wz-previous aria-label="Proximo">
            <md-icon>arrow_back</md-icon>
            Anterior
          </md-button>
          <md-button class="md-raised" wz-next aria-label="Proximo" md-no-ink="true" >
            Proximo
            <md-icon>arrow_forward</md-icon>
          </md-button>
        </div>
      </div>
    </wz-step>
      <wz-step wz-title="" >
        <div layout="column" flex layout-align="center stretch" layout-padding>
          <div layout="row" layout-align="center center">
              <h4>Escolha uma cor que melhor representa este fato ou momento da sua vida</h4>
          </div>
          <div layout="row" layout-align="center center">
            <a href ng-click="$ctrl.funcoes.color.changeHue(1,cor)" class="shape" layout-margin ng-repeat="cor in $ctrl.funcoes.color.hues" style="background-color:hsl({{cor}},100%,50%)!important" ></a>
          </div>
          <div layout="row" layout-align="center center" layout-margin>
            <div ng-show="$ctrl.funcoes.sessao.row.cor1" id="primeira-cor" >

            </div>
          </div>

          <div layout="row" layout-align="center center">
            <md-button class="md-raised" wz-next ng-disabled="!$ctrl.funcoes.sessao.row.cor1" aria-label="Proximo" md-no-ink="true" >
              Proximo
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </div>
        </div>
      </wz-step>
      <wz-step wz-title="">
        <md-content layout="column" flex layout-align="center stretch" layout-padding>
          <div layout="row" layout-align="center center">
              <h4>Escolha a intensidade da cor que melhor representa este fato ou momento de sua vida.</h4>
          </div>
          <div layout="row" layout-align="center center">
            <md-slider-container flex="80">
              <md-slider md-discrete ng-change="$ctrl.funcoes.color.setCor(1)" ng-model="$ctrl.funcoes.sessao.row.sat1" min="0" max="100" step="10" aria-label="bass" class="md-accent"></md-slider>
            </md-slider-container>
          </div>

          <div layout="row" layout-align="center center" layout-margin>
            <div ng-show="$ctrl.funcoes.sessao.row.cor1" id="primeira-cor" >

            </div>
          </div>
          <div layout="row" layout-align="center center">
            <md-button class="md-raised" wz-previous aria-label="Proximo">
              <md-icon>arrow_back</md-icon>
              Anterior
            </md-button>
            <md-button class="md-raised" wz-next aria-label="Proximo">
              Proximo
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </div>
        </md-content>
      </wz-step>
      <wz-step wz-title="">
        <md-content layout="column" flex layout-align="center stretch" layout-padding>
          <div layout="row" layout-align="center center">
              <h4>Escolha o brilho da cor que melhor representa este fato ou momento da sua vida.</h4>
          </div>
          <div layout="row" layout-align="center center">
            <md-slider-container flex="80">
              <md-slider md-discrete ng-change="$ctrl.funcoes.color.setCor(1)" ng-model="$ctrl.funcoes.sessao.row.light1" min="0" max="100" step="10" aria-label="Brilho" class="md-accent"></md-slider>
            </md-slider-container>
          </div>

          <div layout="row" layout-align="center center" layout-margin>
            <div ng-show="$ctrl.funcoes.sessao.row.cor1" id="primeira-cor" >

            </div>
          </div>
          <div layout="row" layout-align="center center">
            <md-button class="md-raised" wz-previous aria-label="Proximo" >
              <md-icon>arrow_back</md-icon>
              Anterior
            </md-button>
            <md-button class="md-raised" wz-next aria-label="Proximo" >
              Proximo
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </div>
        </md-content>
      </wz-step>

      <wz-step wz-title="" flex>
        <div layout="column" flex layout-align="start stretch" layout-padding class="visao">
          <div layout-padding>
            <p>
              O fato ou momento da sua vida escolhido geram sensações em você.
            </p>
            <p>
              Agora,lembrede outro fato ou momento da sua vida geram sensações opostas as que você lembrou.
            </p>
            <p>
              Imagine você vendo, ouvindo e sentindo todas as sensações que este fato ou momento da sua vida geram em você.
            </p>
            <br>
          </div>
          <div layout="row" layout-align="center center" layout-padding>
            <md-button class="md-raised" wz-previous aria-label="Proximo">
              <md-icon>arrow_back</md-icon>
              Anterior
            </md-button>
            <md-button class="md-raised" wz-next aria-label="Proximo" md-no-ink="true" >
              Proximo
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </div>
        </div>
      </wz-step>

      <wz-step wz-title="" >
        <div layout="column" flex layout-align="center stretch" layout-padding>
          <div layout="row" layout-align="center center">
              <h4>Escolha uma cor que melhor representa este fato ou momento da sua vida que se opõe ao primeiro.</h4>
          </div>
          <div layout="row" layout-align="center center">
            <a href ng-click="$ctrl.funcoes.color.changeHue(2,cor)" class="shape" layout-margin ng-repeat="cor in $ctrl.funcoes.color.hues" style="background-color:hsl({{cor}},100%,50%)!important" ></a>
          </div>
          <div layout="row" layout-align="center center" layout-margin>
            <div ng-show="$ctrl.funcoes.sessao.row.cor2" id="segunda-cor">

            </div>
          </div>
          <div layout="row" layout-align="center center">
            <md-button class="md-raised" wz-previous aria-label="anterior" >
              <md-icon>arrow_back</md-icon>
              Anterior
            </md-button>
            <md-button class="md-raised" wz-next ng-disabled="!$ctrl.funcoes.sessao.row.cor2" aria-label="Proximo" >
              Proximo
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </div>
        </div>
      </wz-step>
      <wz-step wz-title="">
        <md-content layout="column" flex layout-align="center stretch" layout-padding>
          <div layout="row" layout-align="center center">
              <h4>Escolha a intensidade da cor que melhor representa este fato ou momento de sua vida que se opõe ao primeiro.</h4>
          </div>
          <div layout="row" layout-align="center center">
            <md-slider-container flex="80">
              <md-slider md-discrete ng-change="$ctrl.funcoes.color.setCor(2)" ng-model="$ctrl.funcoes.sessao.row.sat2" min="0" max="100" step="10" aria-label="Contraste" class="md-accent"></md-slider>
            </md-slider-container>
          </div>

          <div layout="row" layout-align="center center" layout-margin>
            <div ng-show="$ctrl.funcoes.sessao.row.cor2" id="segunda-cor" >

            </div>
          </div>
          <div layout="row" layout-align="center center">
            <md-button class="md-raised" wz-previous aria-label="Proximo">
              <md-icon>arrow_back</md-icon>
              Anterior
            </md-button>
            <md-button class="md-raised" wz-next aria-label="Proximo">
              Proximo
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </div>
        </md-content>
      </wz-step>
      <wz-step wz-title="">
        <md-content layout="column" flex layout-align="center stretch" layout-padding>
          <div layout="row" layout-align="center center">
              <h4>Escolha o brilho da cor que melhor representa este fato ou momento da sua vidaque se opõe ao primeiro.</h4>
          </div>
          <div layout="row" layout-align="center center">
            <md-slider-container flex="80">
              <md-slider md-discrete ng-change="$ctrl.funcoes.color.setCor(2)" ng-model="$ctrl.funcoes.sessao.row.light2" min="0" max="100" step="10" aria-label="Brilho" class="md-accent"></md-slider>
            </md-slider-container>
          </div>

          <div layout="row" layout-align="center center" layout-margin>
            <div ng-show="$ctrl.funcoes.sessao.row.cor2" id="segunda-cor" >

            </div>
          </div>
          <div layout="row" layout-align="center center">
            <md-button class="md-raised" wz-previous aria-label="Proximo">
              <md-icon>arrow_back</md-icon>
              Anterior
            </md-button>
            <md-button class="md-raised" wz-next ng-click="$ctrl.funcoes.sessao.salvar()" aria-label="Proximo">
              Proximo
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </div>
        </md-content>
      </wz-step>
      <wz-step wz-title="">
        <md-content layout="column" flex layout-align="center stretch" layout-padding>
          <div layout-padding>
            <h4>
              Relaxe... Respire profundamente...
            </h4>
            <p>
              Agora, preste a atenção a tela do seu equipamento. E quando você quiser iniciar o processo, acione o comando ACEITO A TRANSFORMAÇÃO.
            </p>
            <br>
          </div>
          <div ngsf-fullscreen>
            <div layout="row" layout-align="center center"  show-if-fullscreen="false">
              <md-button class="md-raised md-accent" ngsf-toggle-fullscreen aria-label="start" ng-click="$ctrl.funcoes.movimentar()" >ACEITO A TRANSFORMAÇÃO!</md-button>
            </div>
            <swishi funcoes="$ctrl.funcoes" show-if-fullscreen>

            </swishi>
          </div>

        </md-content>
      </wz-step>
  </wizard>
  </md-content>
</div>
