<div layout="column" flex>
  <div layout-gt-xs="row" layout-xs="column" flex ng-hide="$ctrl.funcoes.perfil.hide">
    <div id="perfil" flex>
      <md-card layout="column" flex>
        <md-toolbar class="md-table-toolbar md-default" >
          <div class="md-toolbar-tools">
            <md-button class="md-accent md-fab" ng-class="{'md-mini':$ctrl.funcoes.perfil.mediaxs()}" ng-click="$ctrl.funcoes.novoPerfil($event)">
              <md-icon>add</md-icon>
              <md-tooltip>Novo perfil</md-tooltip>
            </md-button>
            <div flex></div>
            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="$ctrl.funcoes.perfil.filtros.onClick()" aria-label="Filtro">
              <md-icon ng-hide="$ctrl.funcoes.perfil.filtros.digitando">search</md-icon>
              <md-progress-circular ng-show="$ctrl.funcoes.perfil.filtros.digitando" class="md-hue-2" md-diameter="20"></md-progress-circular>
            </button>
            <form class="animacao" flex="{{$ctrl.funcoes.perfil.filtros.flex}}" layout="row">
                <input id="filtro" ng-model="$ctrl.funcoes.perfil.filtros.mainField"  ng-change="$ctrl.funcoes.perfil.filtros.onChange()" placeholder="Localizar perfil">
            </form>
            <button class="md-icon-button md-button animacao" type="button" ng-show="$ctrl.funcoes.perfil.filtros.showField" ng-click="$ctrl.funcoes.perfil.filtros.onClick()" aria-label="close">
              <md-tooltip>Remover filtro</md-tooltip>
              <md-icon>close</md-icon>
            </button>
          </div>
        </md-toolbar>
        <md-card-content>
          <md-divider></md-divider>
          <md-list flex>
            <md-list-item ng-repeat="p in $ctrl.funcoes.perfil.rows" ng-click="$ctrl.funcoes.showModulos(p)">
              <!-- <md-divider></md-divider> -->
              <md-button class="md-icon-button" aria-label="edit" md-no-ink="true" ng-click="$ctrl.funcoes.alterarPerfil($event,p)">
                <md-tooltip md-autohide="true">
                    Alterar descrição do perfil
                </md-tooltip>
                <md-icon>edit</md-icon>
              </md-button>
              <p>{{p.nome}}</p>
              <md-button class="md-secondary md-icon-button" ng-click="$ctrl.funcoes.deletar($event,p)" >
                <md-icon>delete</md-icon>
                <md-tooltip md-autohide="true">
                    Excluir perfil
                </md-tooltip>
              </md-button>
            </md-list-item>
          </md-list>
        </md-card-content>
        <md-card-actions >
          <md-table-pagination md-limit="$ctrl.funcoes.perfil.pagination.limit" md-limit-options="$ctrl.funcoes.perfil.pagination.limitOptions" md-page="$ctrl.funcoes.perfil.pagination.pagina" md-total="{{$ctrl.funcoes.perfil.pagination.total}}"  md-on-paginate="$ctrl.funcoes.filtrar" md-page-select md-label="{{$ctrl.funcoes.perfil.pagination.label}}"></md-table-pagination>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <ui-view></ui-view>

</div>
