<md-toolbar class="md-table-toolbar md-accent md-hue" ng-show="$ctrl.funcoes.dados.rowsSelected.length > 0">
  <div class="md-toolbar-tools">
    <md-icon>info_outline</md-icon>
    <span> {{$ctrl.funcoes.dados.rowsSelected.length}} registros selecionados.</span>
    <div flex></div>
    <md-button class="md-raised md-primary" type="button" ng-click="$ctrl.funcoes.deleteAll($event)" aria-label="close">
      <md-tooltip>Deletar registros selecionados</md-tooltip>
      <md-icon>delete</md-icon>
       Deletar
    </md-button>
  </div>
</md-toolbar>

<div ng-if="$ctrl.funcoes.dados.rows.length === 0" layout-padding layout-margin layout-align=" center center" layout="row" class="alert" ng-class="{'alert-warning':!$ctrl.funcoes.dados.reading,'alert-info':$ctrl.funcoes.dados.reading}" role="alert">
  <div ng-if="$ctrl.funcoes.dados.reading" >
    <md-progress-circular ng-disabled="!$ctrl.funcoes.dados.reading" class="md-hue-2" md-diameter="20px"></md-progress-circular>
    <p>Buscando Registros...</p>
  </div>
  <div ng-if="!$ctrl.funcoes.dados.reading" align="center">
    <p><b>Descupe!</b> Os registros não foram encontrados, talvez você ainda não tenha cadastrado ou atualize para recarregar.</p>
    <md-button class="md-icon-button" ng-click="$ctrl.funcoes.dados.filtros.functionRead()" aria-label="edit"><md-icon aria-label="editar">refresh</md-icon><md-tooltip md-autohide="true">Recarrgar registros</md-tooltip></md-button>
  </div>
</div>
<md-table-container ng-show="$ctrl.funcoes.dados.rows.length > 0" ng-class="{'table-responsive':$ctrl.funcoes.responsive}">
   <table md-table md-row-select multiple ng-model="$ctrl.funcoes.dados.rowsSelected" class="table table-condensed table-striped">
    <thead md-head md-order="$ctrl.funcoes.dados.orderBy" md-on-reorder="$ctrl.funcoes.dados.filtros.functionRead">
      <tr >
        <th style="width:{{c.width}}% !important"  ng-repeat="c in $ctrl.funcoes.colunas" md-column md-order-by="{{c.prop}}" ng-show="{{c.show}}">{{c.name?c.name:c.prop}}</th>
      </tr>
    </thead>
   <tbody md-body>
      <tr  class="row-table-click" md-select="row" md-select-id="$ctrl.funcoes.id" ng-repeat="row in $ctrl.funcoes.dados.rows | orderBy: myOrder" ng-click="$ctrl.funcoes.alterar(row)">
        <td ng-repeat="c in $ctrl.funcoes.colunas" ng-show="{{c.show}}" md-cell>{{$ctrl.isset(c.express)?c.express(row[c.prop]):row[c.prop]}}</td>
      </tr>
    </tbody>
  </table> 
</md-table-container>