html,body{
	background-color: #f2f2f2;
	font-size: 1.6rem;
/*	height: 100%;*/
	/*margin: 0;*/
}
html {
  font-size: 62.5%;
  line-height: 1.4;
}
.main-sidenav {
 min-width: 200px !important;
 width: 50vw !important;
 max-width: 200px !important;
 background-color: rgb(97,97,97);
 height:100%;
}

/*md-content {
	height:100%
}*/
.fullscreen {
    width: 100%;
    height: 100%;
}
.visao {
	position: relative;
	height:100%;
}


.progress-bar-busy{
	position: relative;
	top: 0;
	z-index: 10;
}
.login {
  width: 100%;
  background-color: #f2f2f2;
}
.form-login {
	max-width: 400px;
	z-index: 10;
	position: relative;
}
.form-login>md-input-container{
	width: 100%;
}

.animacao {
  transition: all linear 0.2s;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.animacao-opc {
  transition: all linear 0.2s;
  opacity: 1;
}

.ng-hide {
  width: 0;
  height: 0;
  opacity: 0;
}

.main-fab {
  position:relative;
  z-index:20;
  font-size:30px;
  top:-4%;
  left:-6%;
  transform:scale(.88,.88);
  height: 0;
}
md-toolbar.md-table-toolbar form > input {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}
md-toolbar.md-table-toolbar form > input:focus {
  outline: none;
}
.striped:nth-child(even){
	background-color: #f5f5ef;
}
.row-hover>tr:hover{
	background-color: #f2f2f2;
	cursor: pointer;
}
.row-hover>tr:hover>td{
	// font-weight: bold;
	color: #01579b;
}
.label{
  color:black;
}
.md-nav-bar {
  border-width:0;
}
.painel {
  background-color: white;
}
.cl-blue {
	color: #0277bd;
}
.cl-silver{
	color: #f2f2f2;
}
.modal-backdrop {
	z-index: 79 !important;

}
.modal {
	z-index: 80 !important;
}
