
html,body{
	background-color: #f2f2f2;
	font-size: 1.6rem;
}
html {
  font-size: 62.5%;
  line-height: 1.4;
 /* height: initial;*/
}
.main-sidenav {
 min-width: 200px !important;
 width: 50vw !important;
 max-width: 200px !important;
 height:100%;
}

.fullscreen {
  min-height: 100%;
  min-width: 100%;
/*  position: absolute;*/
}
.visao {
	position: relative;
	height:100%;
}
layoute {
  position: relative;
  height:100%;
}


.progress-bar-busy{
	position: relative;
	top: 0;
	z-index: 10;
}
.login {
  width: 100%;
  background-color: #f2f2f2;
}
.form-login {
	max-width: 400px;
	z-index: 10;
	position: relative;
}
.form-login>md-input-container{
	width: 100%;
}

.animacao {
  transition: all linear 0.2s;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.animacao-opc {
  transition: all linear 0.2s;
  opacity: 1;
}

.ng-hide {
  width: 0;
  height: 0;
  opacity: 0;
}

.main-fab {
  position:relative;
  z-index:20;
  font-size:30px;
  top:-4%;
  left:-6%;
  transform:scale(.88,.88);
  height: 0;
}
#filtro {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}
#filtro:focus {
  outline: none;
}
.striped:nth-child(even){
	background-color: #e6e6db;
}
.selected{
  background-color:#0277bd !important;
}
.selected h3{
  color: #fff !important;
}
.dt-row:nth-child(even){
  background-color: #eee;
}
.row-table-click>tr:hover>td{
  cursor: pointer;
  background-color: #0277bd !important;
}
.row-hover>tr:hover{
	/*background-color: #f2f2f2;*/
	cursor: pointer;
}
.row-hover>tr:hover>td{
	font-weight: bold;
	color: #01579b;
}
.label{
  color:black;
}
.md-nav-bar {
  border-width:0;
}
.painel {
  background-color: white;
}
.cl-blue {
	color: #0277bd;
}
.cl-silver{
	color: #f2f2f2;
}
.modal-backdrop {
	z-index: 79 !important;
}
.footer {
 position: relative;
 bottom: 20px;
}

.modal {
	z-index: 80 !important;
}
/*essa marcação foi zerada porque nao estava deixando as colunas da tabela ser redimencionada*/
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2){
  padding: 0;
}
/*Alterar o background original do li selecionado do component autocomplete*/
.md-autocomplete-suggestions-container.md-default-theme li.selected, .md-autocomplete-suggestions-container li.selected, .md-autocomplete-suggestions-container.md-default-theme li:hover, .md-autocomplete-suggestions-container li:hover{
  background: rgb(68, 138, 255);
}

.li-table-auto{
  overflow: hidden;
  text-overflow: ellipsis;
}
.autocomplete-custom-template li{
  border-bottom: 1px solid #ccc;
  line-height: 2;
};
/*diminuindo os espaços*/
md-card .md-actions, md-card md-card-actions {
   margin: 0;
}

md-input-container {
  margin-bottom: 0px;
}
md-input-container label.md-body-1 {
  color: rgb(63, 81, 181);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: rgba(63, 81, 181, 0.74);
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
    color: rgba(20,20,20,0.80);
    border-color: rgba(39, 36, 36, 0.50);
}

.md-button.md-default-theme.md-accent[disabled], .md-button.md-accent[disabled], .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-warn[disabled], .md-button.md-warn[disabled], .md-button.md-default-theme[disabled], .md-button[disabled] {
    color: rgba(175, 175, 175, 0.34);
}

table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row {
    height: 25px;
}

.atura-table{
  max-height: 61vh !important;
  overflow-x: auto;
}

.atura-content{
  min-height: 60vh;
  max-height: 72vh;
  overflow-x: auto;
}

#j-virtual-repeat {
  position: relative;
  display: block;
  width: 100%;
  height: 60vh;
}

.pdv-cupom p, .pdv-cupom th, .pdv-cupom td {
  font-family: 'Courier New';
}

.pdv-cupom .conteudo-table{
  max-height: 50vh !important;
  overflow-x: auto;
}