
<md-toolbar md-whiteframe="1" md-scroll-shrink md-colors="{background:'grey'}" >
	<div class="md-toolbar-tools">
		<md-button class="menu md-icon-button" hide-gt-sm ng-click="$ctrl.funcoes.openSideNave()">
			<md-icon>menu</md-icon>
		</md-button>
			<md-trucate>
				<span ng-repeat="path in $ctrl.funcoes.paths | filter:{name:'!'}">
					<md-button ng-disabled="($ctrl.funcoes.paths.length-1)==$index" md-no-ink ui-sref="{{path.state.name}}" >{{path.state.self.title}}</md-button>
					<md-icon ng-hide="($ctrl.funcoes.paths.length-1)==$index">chevron_right</md-icon>
				</span>
			</md-trucate>
		<span flex></span>
	</div>
</md-toolbar>
