<div class="visao">
	<div ng-switch on="$ctrl.layoute.vLayoute" class="visao">
		<div ng-switch-when="1" class="visao">
			<div layout="row" class="visao">
				<main-nav funcoes="$ctrl.layoute"></main-nav>
				<div layout="column" flex class="visao">
					<main-header funcoes="$ctrl.layoute" ng-show="$ctrl.layoute.isset($ctrl.layoute.paths)||$ctrl.layoute.mediaxs()"></main-header>
				    <md-content flex>
						<div ui-view class="visao"></div>
						<!-- <footer funcoes="$ctrl.layoute"></footer> -->
				    </md-content>
				</div>
			</div>
		</div>
		<div ng-switch-when="2" class="visao">
			<h1>Versao 2 do layoute em desenvolvimento</h1>
		</div>
	</div>
</div>

