<div layout="column" flex>

    <md-toolbar class="md-default md-hue-2">
      <div class="md-toolbar-tools">
        <md-button ng-show="$ctrl.funcoes.encontro.row.id_encontro" class="md-accent md-fab md-mini" ng-click="$ctrl.funcoes.encontro.novo({})">
          <md-icon>add</md-icon>
          <md-tooltip>Novo encontro</md-tooltip>
        </md-button>
        <span>{{$ctrl.funcoes.encontro.label+$ctrl.funcoes.title}}</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.ok()" aria-label="close">
            <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card>
    <md-card-content>
      <form name="form" novalidate autocomplete="off">
        <div layout-padding layout-gt-xs="row">
          <div flex-gt-xs="30">
            <md-input-container class="md-block">
              <label>Logomarca</label>
              <div ng-show="$ctrl.funcoes.encontro.uploader.progress" class="progress" style="margin: 0; padding: 0">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': $ctrl.encontro.uploader.progress + '%' }"></div>
              </div>
              <div class="md-media-lg card-media">
                <img src="{{$ctrl.funcoes.encontro.pathImg}}{{$ctrl.funcoes.encontro.row.logo?$ctrl.funcoes.encontro.row.logo:'noImg.jpg'}}" height="80">
              </div>
              <input type="file" class="btn btn-default btn-sm form-control" nv-file-select uploader="$ctrl.funcoes.encontro.uploader"/>
            </md-input-container>
          </div>
          <div flex-gt-xs="70">
            <md-input-container class="md-block">
              <label>Descrição do encontro</label>
              <input required  name="descricao" ng-model="$ctrl.funcoes.encontro.row.descricao" >
              <div ng-messages="form.nome.$error" ng-show="form.descricao.$invalid">
                <p ng-message="required">A descrição do encontro é obrigatório</p>
              </div>
            </md-input-container>

            <div layout-gt-xs="row">
              <md-input-container>
                <label>Valor Iscrição</label>
                <input type="number" required min="0.00" name="valor_insc" ng-model="$ctrl.funcoes.encontro.row.valor_insc" >
                <div ng-messages="form.valor_insc.$error" ng-show="form.valor_insc.$invalid">
                  <p ng-message="required">Informe o valor da inscrição</p>
                </div>
              </md-input-container>

              <md-input-container>
                <label>Valor da ficha</label>
                <input type="number" required min="0.00" name="valor_ficha" ng-model="$ctrl.funcoes.encontro.row.valor_ficha" >
                <div ng-messages="form.valor_ficha.$error" ng-show="form.valor_ficha.$invalid">
                  <p ng-message="required">Informe o valor da ficha</p>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>
        <div layout-gt-xs="row" >
          <md-input-container class="md-block">
            <label>Data Inicio</label>
            <md-datepicker ng-model="$ctrl.funcoes.encontro.row.data_ini"  md-placeholder="Data inicio"></md-datepicker>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Data Final</label>
            <md-datepicker ng-model="$ctrl.funcoes.encontro.row.data_fim"  md-placeholder="Data final"></md-datepicker>
          </md-input-container>
        </div>

      </form>
    </md-card-content>
    <md-card-footer>
      <md-divider></md-divider>
    </md-card-footer>
    <div class="md-actions" layout="row" layout-align="end center">
       <md-button class="md-accent" ng-click="$ctrl.funcoes.encontro.salvar()">Salvar</md-button>
       <md-button class="md-warn" ng-click="$ctrl.close()">Cancelar</md-button>
     </div>
  </md-card>

</div>
