<div layout="column" layout-align="center center" layout-padding class="login">


        <div class="form-login">
                <md-card >
                  <img src="images/logo.png" class="md-media-lg">
                  <md-card-title layout-align="center center">
                    <md-card-title-text layout-align="center center">
                      <h4>Ecc WebApp</h4>
                    </md-card-title-text>
                  </md-card-title>

                  <md-card-content >




                <form name="formLogin" novalidate>
                    <div ng-show="!recSenha">

                        <md-input-container class="md-block">
                            <input type="email" id="username" name="email" class="input-lg" placeholder="Seu email" ng-model="vm.login.fieldsQry.email" required>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <input type="password" id="password" name="senha" class="input-lg" placeholder="Senha" ng-model="vm.login.fieldsQry.senha" required>
                        </md-input-container>

                        <div  layout="column" layout-align="center" >
                            <md-button class="md-raised md-accent"  ng-click="vm.login.login()" ng-disabled="formLogin.$invalid" >Acessar</md-button>
                            <md-button ng-click="recSenha=true" >Esqueci Minha Senha</md-button>
                        </div>

                    </div>
                  </form>
                  <form name="formLembraSenha" novalidate>


                    <div ng-show="recSenha">
                        <md-input-container class="md-block">
                            <input type="email" id="username" name="email" class="input-lg" placeholder="Informe seu email" data-ng-model="vm.login.usuario.email" required>
                        </md-input-container>
                        <div  layout="column" layout-align="center" >
                            <md-button class="md-raised md-accent" type="button" ng-click="vm.login.recuperarSenha(vm.login.usuario.email)" ng-disabled="formLembraSenha.email.$invalid">Enviar senha para email <i class="fa fa-cog fa-spin orange" ng-show="vm.login.usuario.rec"></i></md-button>
                            <md-button ng-click="recSenha=false" >Voltar para login</md-button>
                        </div>
                    </div>
                  </form>
             </md-card-content>
           </md-card>
        </div>


</div>
