<div layout="column" flex class="encontreiro">
  <md-toolbar class="md-default md-hue-2">
    <div class="md-toolbar-tools">
      <span>{{$ctrl.funcoes.title}}</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.ok()" aria-label="close">
          <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-tabs style="min-height:400px" md-dynamic-height md-selected="selectedIndexInteger">
      <md-tab label=""  md-on-select="" md-on-deselect="">
          <md-tab-label>
              <span>Inscrição</span>
          </md-tab-label>
          <md-tab-body>
            <div ng-include="'app/sistema/ecc/encontreiro/templates/encontreiro-cad.html'">

            </div>
          </md-tab-body>
      </md-tab>
      <md-tab label="" md-on-select="" md-on-deselect="">
        <md-tab-label>
              Fichas
        </md-tab-label>
        <md-tab-body>
          <encontristas-sel funcoes="$ctrl.funcoes.encontrista"></encontristas-sel>
        </md-tab-body>
      </md-tab>
  </md-tabs>

</div>
