




<md-card md-theme="dark-blue" layout-padding  ng-show="$ctrl.funcoes.data.row">
  <md-card-title-text layout="row" flex>
    <span class="md-title">{{$ctrl.funcoes.data.row.descricao}}</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="$ctrl.funcoes.removerItem($ctrl.funcoes.data.row)" aria-label="delete">
        <md-icon>delete</md-icon>
        <md-tooltip md-autohide="true">Remover item</md-tooltip>
    </md-button>
  </md-card-title-text>

  <form name="formitens" novalidate autocomplete="off">  
    <div layout="row" >

      <md-input-container flex class="md-warn">
        <label class="md-body-1">Qtde.</label>
        <input type="number" required name="qt" min="0.00" ng-model="$ctrl.funcoes.data.row.qt" id="qt" ng-keypress="$ctrl.funcoes.onEnter($event,'perc',true)" ng-change="$ctrl.funcoes.data.onChange($ctrl.funcoes.data.row)" autofocus="true">
      </md-input-container>
      <md-input-container flex >
        <label class="md-body-1">UNI.</label>
        <input type="text" name="sigla_unidade" ng-model="$ctrl.funcoes.data.row.sigla" ng-readonly="true" >
      </md-input-container>
      <md-input-container  flex >
        <label class="md-body-1">Preço</label>
        <input type="number" required name="valor" min="0.00" ng-model="$ctrl.funcoes.data.row.valor"  ng-readonly="true" >
        <div ng-messages="formitens.valor.$error">
          <div ng-message="required">Informe o preço.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-warn" flex >
        <label class="md-body-1">Desconto %</label>
        <input type="number" name="desc_perc" min="0.00" ng-model="$ctrl.funcoes.data.row.desc_perc" id="perc" ng-change="$ctrl.funcoes.calcDesc($ctrl.funcoes.data.row,'%');$ctrl.funcoes.data.onChange($ctrl.funcoes.data.row)" ng-keypress="$ctrl.funcoes.onEnter($event,'desc',true)">
      </md-input-container>
      <md-input-container class="md-warn" flex >
        <label class="md-body-1">Desconto R$</label>
        <input type="number" name="desconto" min="0.00" ng-model="$ctrl.funcoes.data.row.desconto" id="desc" ng-keypress="$ctrl.funcoes.loadItem($event);$ctrl.funcoes.onEnter($event,'qt',true)"
        ng-change="$ctrl.funcoes.calcDesc($ctrl.funcoes.data.row,'R$');$ctrl.funcoes.data.onChange($ctrl.funcoes.data.row)">
      </md-input-container>

      <div layout="column" flex>
        <label class="md-body-1">Total</label>
        <span>{{($ctrl.funcoes.data.row.qt*$ctrl.funcoes.data.row.valor)-$ctrl.funcoes.data.row.desconto | currency}}</span>
      </div>
    </div>
    <div layout-gt-xs="row" layout-xs="column" flex>
      <span class="md-caption" flex="70">{{$ctrl.funcoes.data.row.detalhes}}</span>
      <div flex layout="row" layout-align="end center">
        <md-button class="md-grid-item-content" ng-disabled="formitens.$invalid"  ng-click="$ctrl.funcoes.addItem()" aria-label="tabela" id="btnOk">
          <md-icon>done</md-icon>
          <span class="md-grid-text">Ok</span>
        </md-button>
        <md-button class="md-grid-item-content"  ng-click="$ctrl.funcoes.cancelarItem()" aria-label="tabela">
          <md-icon>cancel</md-icon>
          <span class="md-grid-text">Cancelar</span>
        </md-button>
      </div>
    </div>
  </form>
</md-card>

<!-- itens da movimentação -->
<md-card >
  <md-card-actions ng-hide="$ctrl.funcoes.data.row">
    <md-button class="md-accent md-fab" ng-class="{'md-mini':$ctrl.funcoes.item.mediaxs()}" ng-click="$ctrl.funcoes.selectItem($event)" md-autofocus>
      <md-icon>add</md-icon>
      <md-tooltip md-autohide="true">Adicionar Item</md-tooltip>
    </md-button>
    <span class="md-subhead">{{$ctrl.funcoes.data.rows.length>0?"Itens Adicionados":"Adicionar Itens"}}</span>
  </md-card-actions>
  <md-table-container ng-show="$ctrl.funcoes.data.rows.length > 0" class="atura-table">
     <table md-table class="table table-condensed">
      <thead md-head md-order="$ctrl.funcoes.data.orderBy">
        <tr>
          <th style="width: 3% !important" md-column md-order-by="qt">
          Qtde.</th>
          <th style="width: 45% !important" md-column md-order-by="descricao">Descricao</th>
          <th style="width: 12% !important" md-column md-order-by="marca">Marca</th>
          <th style="width: 5% !important" md-column md-order-by="sigla">UNI.</th>
          <th style="width: 10% !important" md-column md-order-by="valor">Valor</th>
          <th style="width: 10% !important" md-column md-order-by="desconto">Desconto</th>
          <th style="width: 15% !important" md-column md-order-by="total">Sub Total</th>
        </tr>
      </thead>
      <tbody style="height: 100px !important;overflow: scroll;">
        <tr class="row-table-click striped" md-select="row" md-select-id="id_item_mov" ng-repeat="row in $ctrl.funcoes.data.rows | filter:{'action':'!d'} | orderBy: $ctrl.funcoes.data.orderBy track by $index" ng-click="!$ctrl.funcoes.bloquearAlteracao()?$ctrl.funcoes.alterarItemMov(row,$index):null">
          <td md-cell>{{row.qt | currency :'' }}</td>
          <td md-cell>{{row.descricao}}</td>
          <td md-cell>{{row.marca}}</td>
          <td md-cell>{{row.sigla}}</td>
          <td md-cell class="text-right">{{row.valor | currency:''}}</td>
          <td md-cell class="text-right">{{row.desconto | currency:''}}</td>
          <td md-cell class="text-right"><b>{{(row.qt*row.valor)-row.desconto | currency:''}}</b></td>
        </tr>
      </tbody>
      <tfoot md-foot>
        <tr md-row>
          <td md-cell></td>
          <td md-cell></td>
          <td md-cell></td>
          <td md-cell></td>
          <td md-cell></td>
          <td md-cell>{{$ctrl.funcoes.data.rows.length}} Itens</td>
          <td md-cell class="text-right" ><strong md-title>Total : {{$ctrl.funcoes.soma($ctrl.funcoes.data.rows,'qt','valor',{action:'!d'})-$ctrl.funcoes.soma($ctrl.funcoes.data.rows,'','desconto',{action:'!d'}) | currency}}</strong></td>
        </tr>
      </tfoot>
    </table> 
  </md-table-container>
</md-card>
