

<!-- TITULO -->
<md-card-action layout="row"  flex layout="start center" >

	<span layout-padding flex="45" class="text-danger" ng-class="{'md-subhead md-offset':$ctrl.movimento.data.mediaxs(),'md-title':!$ctrl.movimento.data.mediaxs()}" ng-show="$ctrl.movimento.data.row.numero"><b><small> Nº {{$ctrl.movimento.data.row.numero}}</small></b></span>

	<span layout-padding flex class="text-info" ng-class="{'md-subhead md-offset':$ctrl.movimento.data.mediaxs(),'md-title':!$ctrl.movimento.data.mediaxs()}"><b><small> {{$ctrl.movimento.data.row.desc_status}}</small></b></span>

	<span flex></span>
	<button class="md-icon-button md-button md-offset" type="button" ng-click="$ctrl.movimento.data.row.child.print1($ctrl.movimento.data.row,$ctrl.movimento.data.row.child.data.rows)" aria-label="print" ng-show="$ctrl.movimento.data.row.status == 'F' && $ctrl.movimento.data.row.tipo_mov != 'E'">
		<md-tooltip>Imprimir</md-tooltip>
		<md-icon>print</md-icon>
	</button>

</md-card-action>

<md-divider></md-divider>

<div layout-padding  class="atura-content">
	<!-- EMITENTE -->
	<div layout-gt-xs="row" layout-xs="column" flex>
		<div layout="column" flex>

			<md-autocomplete
				id="p_emi_nome_comp"
				flex-gt-xs="45"
				flex-xs="auto"
				required
				name="p_emi_nome_comp"
				class="md-accent"
				md-require-match="true"
				md-autofocus
			  ng-disabled="$ctrl.movimento.bloquearAlteracao()"
			  md-clear-button="!$ctrl.movimento.bloquearAlteracao()"
			  md-no-cache="false"
			  md-search-text="$ctrl.searchEmitente"
			  md-selected-item="$ctrl.movimento.data.row.p_emi_nome_comp"
			  md-items="row in $ctrl.movimento.pessoa_emi.filtroAutoComplete($ctrl.searchEmitente,'','f.id_fornecedor desc')"
			  md-selected-item-change="$ctrl.movimento.changeEmitenteE($ctrl.movimento.data.row,row)"
			  md-item-text="row.nome_comp"
			  md-min-length="0"
			  md-menu-class="autocomplete-custom-template"
			  placeholder="Emissor da Nota Fiscal"
			  md-floating-label="Empresa Fornecedora">
			<md-item-template>
				<div layout="column" >
			      <div layout="row">
			        <div flex="60" class="li-table-auto">
			          <span>{{row.nome_red}}</span>
			        </div>
			        <div flex="40" class="li-table-auto">
			          <span>{{row.cpf_cnpj}}</span>
			        </div>
			      </div>
			      <small class="li-table-auto text-muted">{{row.nome_comp}}</small>
				</div>
			</md-item-template>
			<md-not-found>
			  O Emitente "{{$ctrl.searchEmitente}}" não foi encontrado.
			</md-not-found>
				<div ng-messages="form.p_emi_nome_comp.$error">
					<div ng-message="required">Informe o emissor da nota fiscal.</div>
				</div>
			</md-autocomplete>
			
			<div layout="row" flex-gt-xs="55" flex-xs="auto">
				<md-input-container class="md-accent" flex="20" ng-hide="$ctrl.movimento.data.row.tipo_mov!='E'">
					<label class="md-body-1">{{$ctrl.movimento.data.row.tipo_mov=='E'?'Numero NF':'Numero'}}</label>
					<input type="text" required  name="numero" ng-model="$ctrl.movimento.data.row.numero" ng-disabled="$ctrl.movimento.bloquearAlteracao()" >
					<div ng-messages="form.numero.$error">
						<div ng-message="required">Informe o numero da nota fiscal.</div>
					</div>
				</md-input-container>

				<md-input-container class="md-accent" flex>
					<label class="md-body-1">Data Emissão</label>
					<input type="date"  name="data_emissao" ng-model="$ctrl.movimento.data.row.data_emissao" ng-disabled="$ctrl.movimento.bloquearAlteracao()">
				</md-input-container>

				<md-input-container class="md-accent" flex>
					<label class="md-body-1">Data Saída</label>
					<input type="date" required name="data_saida" ng-model="$ctrl.movimento.data.row.data_saida" ng-disabled="$ctrl.movimento.bloquearAlteracao()">
					<div ng-messages="form.data_saida.$error">
						<div ng-message="required">Informe a data de saída da mercadoria</div>
					</div>
				</md-input-container>
			</div>

			<md-autocomplete
				ng-hide="$ctrl.movimento.data.row.tipo_mov=='E'"
				id="vendedor"
				flex-gt-xs="45"
				flex-xs="auto"
				required
				name="vendedor"
				class="md-accent"
				md-require-match="true"
				md-autofocus
				ng-disabled="$ctrl.movimento.bloquearAlteracao()"
			  	md-clear-button="!$ctrl.movimento.bloquearAlteracao()"
			  	md-no-cache="false"
			  	md-search-text="$ctrl.searchVend"
                md-selected-item="$ctrl.movimento.data.row.vendedor_nome_red"
                md-items="row in $ctrl.movimento.vendedor.filtroAutoComplete($ctrl.searchVend)"
                md-selected-item-change="$ctrl.movimento.changeAutoCompleteVend($ctrl.movimento.data.row,row)"
			  	md-item-text="row.nome_comp"
			  	md-min-length="0"
			  	md-menu-class="autocomplete-custom-template"
			  	placeholder="Nome do Vendedor"
			  	md-floating-label="Vendedor">
			<md-item-template>
				<div layout="column" >
			      <div layout="row">
			        <div flex="60" class="li-table-auto">
			          <span>{{row.nome_red}}</span>
			        </div>
			        <div flex="40" class="li-table-auto">
			          <span>{{row.cpf_cnpj}}</span>
			        </div>
			      </div>
			      <small class="li-table-auto text-muted">{{row.nome_comp}}</small>
				</div>
			</md-item-template>
			<md-not-found>
			  O Vendedor "{{$ctrl.searchVend}}" não foi encontrado.
			</md-not-found>
				<div ng-messages="form.p_emi_nome_comp.$error">
					<div ng-message="required">Informe o vendedor.</div>
				</div>
			</md-autocomplete>			
		</div>

		<!-- DESTINATARIO -->

		<div layout="column" flex>
			
			<md-autocomplete
				id="p_dest_nome_comp"
				flex-gt-xs="45"
				flex-xs="auto"
				required
				name="p_dest_nome_comp"
				class="md-accent"
				md-autofocus="true"
				md-require-match="true"
			  ng-disabled="$ctrl.movimento.bloquearAlteracao()"
			  md-clear-button="!$ctrl.movimento.bloquearAlteracao()"
			  md-no-cache="true"
			  md-search-text="$ctrl.searchDest"
			  md-selected-item="$ctrl.movimento.data.row.p_dest_nome_comp"
			  md-items="row in $ctrl.movimento.pessoa_dest.filtroAutoComplete($ctrl.searchDest,'','c.id_cliente desc')"
			  md-selected-item-change="$ctrl.movimento.changeDestinatarioE($ctrl.movimento.data.row,row)"
			  md-item-text="row.nome_comp"
			  md-min-length="0"
			  md-menu-class="autocomplete-custom-template"
			  placeholder="Destinatário da Nota Fiscal"
			  md-floating-label="{{$ctrl.movimento.data.row.tipo_mov=='E'?'Destinatário':'Cliente'}}">
			<md-item-template>
				<div layout="column">
			      <div layout="row">
			        <div flex="40" class="li-table-auto" >
			          <span md-highlight-flags="^i">{{row.nome_red}}</span>
			        </div>
			        <div flex="25" class="li-table-auto">
			          <span>{{row.tabela}}</span>
			        </div>
			        <div flex="35" class="li-table-auto">
			          <span>{{row.cidade}}</span>
			        </div>
			      </div>
			      <div layout="row" layout-align="start center">
			      	<small class="text-danger" >{{row.id_cliente}} </small>
			      	<small class="li-table-auto text-muted" >{{row.nome_comp}} </small>
			      	<small> Limite : {{row.limite_credito|currency:''}} </small>
			      </div>
			      
			   </div>

			</md-item-template>
			<md-not-found>
			  O Destinatário "{{$ctrl.searchDest}}" não foi encontrado.
			</md-not-found>
				<div ng-messages="form.p_dest_nome_comp.$error">
					<div ng-message="required">Informe o destinatário da nota fiscal.</div>
				</div>
			</md-autocomplete>

			<div layout="row" flex-gt-xs="55" flex-xs="auto" ng-hide="$ctrl.movimento.data.row.tipo_mov == 'E'">

				<md-input-container flex>
					<label class="md-body-1">Tabela do Cliente</label>
					<input type="text" required  name="tabela" ng-model="$ctrl.movimento.data.row.tabela" ng-disabled="true">
				</md-input-container>

				<md-input-container flex>
					<label class="md-body-1">Tabela de preços</label>
					<md-select ng-model="$ctrl.movimento.data.row.id_tp" ng-disabled="$ctrl.movimento.bloquearAlteracao()||$ctrl.movimento.data.row.child.data.rows.length>0">
				  		<md-option ng-value="tab.id_tp" ng-repeat="tab in $ctrl.movimento.tabelas.data.rows" ng-blur="null">{{tab.descricao}}</md-option>
				  		<md-tooltip>{{$ctrl.movimento.data.row.child.data.rows.length>0?'Já existe itens adicionado com preços dessa tabela, para trocar de tabela remova os itens adicionados':'Tabela de preços dos itens'}}</md-tooltip>
					</md-select>
				</md-input-container>
			</div>
		</div>
	</div>
	<md-input-container class="md-block" class="md-accent">
		<label class="md-body-1">Observações</label>
		<textarea ng-model="$ctrl.movimento.data.row.obs" rows="2" ng-disabled="$ctrl.movimento.bloquearAlteracao()"></textarea>
	</md-input-container>
</div>



