<div layout="column">
    <md-card-action layout="row" layout-align="start center">
        <form class="animacao" autocomplete="off" novalidate flex ng-show="$ctrl.funcoes.data.filtros.showField" layout="row">
          <md-progress-circular ng-show="$ctrl.funcoes.data.filtros.digitando" class="md-hue-2" md-diameter="20"></md-progress-circular>
          <md-icon ng-hide="$ctrl.funcoes.data.filtros.digitando">search</md-icon>
            <md-tooltip>Esse filtro lista todos os registros que CONTÉM a expressão digitada. Para uma busca mais especifica, click em filtro Avançado</md-tooltip>
            <input id="filtro" ng-model="$ctrl.funcoes.data.filtros.mainField"  ng-change="$ctrl.funcoes.data.filtros.onChange()" placeholder="{{$ctrl.funcoes.data.filtros.placeholder}}">
        </form>
        <span class="md-title" layout-padding ng-class="{'md-subhead':$ctrl.funcoes.data.mediaxs()}" ng-show="!$ctrl.funcoes.data.filtros.showField">{{$ctrl.tipomov.data.row.descricao}}</span>

        <div flex></div>
        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="$ctrl.funcoes.data.filtros.onClick()" aria-label="Filtro" ng-show="!$ctrl.funcoes.data.filtros.showField">
          <md-icon ng-hide="$ctrl.funcoes.data.filtros.digitando">search</md-icon>
        </button>
        <button class="md-icon-button md-button animacao" type="button" ng-show="$ctrl.funcoes.data.filtros.showField" ng-click="$ctrl.funcoes.data.filtros.onClick()" aria-label="close">
          <md-tooltip>Remover filtro</md-tooltip>
          <md-icon>close</md-icon>
        </button>
        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="$ctrl.funcoes.data.filtros.setConfigFiltro()" aria-label="Filtro">
          <md-tooltip>filtro Avançado</md-tooltip>
          <md-icon>filter_list</md-icon>
        </button>
        <button class="md-icon-button md-button" type="button" ng-click="$ctrl.funcoes.report()" aria-label="print">
          <md-tooltip>Imprimir</md-tooltip>
          <md-icon>print</md-icon>
        </button>
    </md-card-action>
    <filtro filtros="$ctrl.funcoes.data.filtros"></filtro>
    <div ng-if="$ctrl.funcoes.data.rows.length === 0" layout-margin layout-align=" center center"  class="alert" ng-class="{'alert-warning':!$ctrl.funcoes.data.reading,'alert-info':$ctrl.funcoes.data.reading}" role="alert">
      <div ng-if="$ctrl.funcoes.data.reading" layout="row">
        <md-progress-circular ng-disabled="!$ctrl.funcoes.data.reading" class="md-hue-2" md-diameter="20px"></md-progress-circular>
        <p>Buscando registros de itens movimentados...</p>
      </div>
      <div ng-if="!$ctrl.funcoes.data.reading" align="center">
        <p>Sem itens movimentados no período.</p>
      </div>
    </div>
  <div layout-gt-xs="row" flex>
    <div layout="column" flex="grow">
      <j-pagination funcoes="$ctrl.funcoes.data.funcPag"></j-pagination>
      <div ng-switch on="$ctrl.tipomov.data.row.tipo" class="atura-table">
        <div ng-switch-when="E">
          <md-table-container ng-show="$ctrl.funcoes.data.rows.length > 0">
             <table md-table class="table table-condensed table-striped">
              <thead md-head md-order="$ctrl.funcoes.data.orderBy" md-on-reorder="$ctrl.funcoes.data.filtros.functionRead">
                <tr >
                  <th style="width: 5% !important" md-column >
                  Nº</th>
                  <th style="width: 10% !important" md-column md-order-by="codigo">Código</th>
                  <th style="width: 40% !important" md-column md-order-by="descricao">Descricao</th>
                  <th style="width: 10% !important" md-column md-order-by="qt">Qtde.</th>
                  <th style="width: 10% !important" md-column md-order-by="sigla">UNI.</th>
                  <th style="width: 10% !important" md-column md-order-by="valor">Valor Uni.</th>
                  <th style="width: 15% !important" md-column>Valor Total</th>
              </thead>
             <tbody md-body>
                  <tr class="striped" md-select="row" md-select-id="id_item_mov" ng-repeat="row in $ctrl.funcoes.data.rows | orderBy: $ctrl.funcoes.data.orderBy track by $index">
                    <td md-cell>{{$index+1}}</td>
                    <td md-cell>{{row.codigo}}</td>
                    <td md-cell>{{row.descricao}}</td>
                    <td md-cell>{{row.qt | currency :'' }}</td>
                    <td md-cell>{{row.sigla}}</td>
                    <td md-cell>{{row.valor | currency:''}}</td>
                    <td md-cell>{{row.subtotal | currency:''}}</td>
                  </tr>
              </tbody>
            </table> 
          </md-table-container>
        </div>
        <div ng-switch-default>
          <md-table-container ng-show="$ctrl.funcoes.data.rows.length > 0">
             <table md-table class="table table-condensed table-striped">
              <thead md-head md-order="$ctrl.funcoes.data.orderBy" md-on-reorder="$ctrl.funcoes.data.filtros.functionRead">
                <tr >
                  <th style="width: 3% !important" md-column md-order-by="qt">
                  Qtde.</th>
                  <th style="width: 45% !important" md-column md-order-by="descricao">Descricao</th>
                  <th style="width: 12% !important" md-column md-order-by="marca">Marca</th>
                  <th style="width: 5% !important" md-column md-order-by="sigla">UNI.</th>
                  <th style="width: 10% !important" md-column md-order-by="valor">Valor</th>
                  <th style="width: 10% !important" md-column md-order-by="desconto">Desconto</th>
                  <th style="width: 15% !important" md-column md-order-by="total">Sub Total</th>
                </tr>
              </thead>
             <tbody md-body>
                  <tr class="striped" md-select="row" md-select-id="id_item_mov" ng-repeat="row in $ctrl.funcoes.data.rows | filter:{'action':'!d'} | orderBy: $ctrl.funcoes.data.orderBy track by $index">
                    <td md-cell>{{row.qt | currency :'' }}</td>
                    <td md-cell>{{row.descricao}}</td>
                    <td md-cell>{{row.marca}}</td>
                    <td md-cell>{{row.sigla}}</td>
                    <td md-cell class="text-right">{{row.valor | currency:''}}</td>
                    <td md-cell class="text-right">{{row.desconto | currency:''}}</td>
                    <td md-cell class="text-right"><b>{{row.subtotal | currency:''}}</b></td>
                  </tr>
              </tbody>
            </table>
          </md-table-container>
        </div>
      </div>
        <div layout="row" layout-padding layout-align="end center">
          <span class="md-title">Total da Listado : </span>
          <span class="md-title text-info">
            <b>{{$ctrl.funcoes.soma($ctrl.funcoes.data.rows,'','subtotal')|currency}}</b>
          </span>
        </div>            
    </div>
  </div>
</div>