<div layout="column">
    <md-card-action layout="row" layout-align="start center">
      	<form class="animacao" autocomplete="off" novalidate flex ng-show="$ctrl.movs.data.filtros.showField" layout="row">
        	<md-progress-circular ng-show="$ctrl.movs.data.filtros.digitando" class="md-hue-2" md-diameter="20"></md-progress-circular>
      		<md-icon ng-hide="$ctrl.movs.data.filtros.digitando">search</md-icon>
          	<md-tooltip>Esse filtro lista todos os registros que CONTÉM a expressão digitada. Para uma busca mais especifica, click em filtro Avançado</md-tooltip>
          	<input id="filtro" ng-model="$ctrl.movs.data.filtros.mainField"  ng-change="$ctrl.movs.data.filtros.onChange()" placeholder="{{$ctrl.movs.data.filtros.placeholder}}">
      	</form>
    	<span class="md-title" layout-padding ng-class="{'md-subhead':$ctrl.movs.data.mediaxs()}" ng-show="!$ctrl.movs.data.filtros.showField">{{$ctrl.movs.tipoMov.data.row.descricao}}</span>

      	<div flex></div>
      	<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="$ctrl.movs.data.filtros.onClick()" aria-label="Filtro" ng-show="!$ctrl.movs.data.filtros.showField">
        	<md-icon ng-hide="$ctrl.movs.data.filtros.digitando">search</md-icon>
      	</button>
      	<button class="md-icon-button md-button animacao" type="button" ng-show="$ctrl.movs.data.filtros.showField" ng-click="$ctrl.movs.data.filtros.onClick()" aria-label="close">
        	<md-tooltip>Remover filtro</md-tooltip>
        	<md-icon>close</md-icon>
      	</button>
      	<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="$ctrl.movs.data.filtros.setConfigFiltro()" aria-label="Filtro">
        	<md-tooltip>filtro Avançado</md-tooltip>
        	<md-icon>filter_list</md-icon>
      	</button>
      	<button class="md-icon-button md-button" type="button" ng-click="$ctrl.movs.report()" aria-label="print">
        	<md-tooltip>Imprimir</md-tooltip>
        	<md-icon>print</md-icon>
      	</button>
    </md-card-action>
    <filtro	filtros="$ctrl.movs.data.filtros"></filtro>
	<div ng-if="$ctrl.movs.data.rows.length === 0" layout-margin layout-align=" center center" layout="row" class="alert" ng-class="{'alert-warning':!$ctrl.movs.data.reading,'alert-info':$ctrl.movs.data.reading}" role="alert">
		<div ng-if="$ctrl.movs.data.reading" >
		  <md-progress-circular ng-disabled="!$ctrl.movs.data.reading" class="md-hue-2" md-diameter="20px"></md-progress-circular>
		  <p>Buscando registros de movimentações...</p>
		</div>
		<div ng-if="!$ctrl.movs.data.reading" align="center">
		  <p>Sem movimentações!</p>
		  <md-button class="md-icon-button" ng-click="$ctrl.movs.data.filtros.functionRead()" aria-label="edit"><md-icon aria-label="editar">refresh</md-icon><md-tooltip md-autohide="true">Recarrgar registros</md-tooltip></md-button>
		</div>
	</div>
	<div layout-gt-xs="row" flex>
		<div layout="column" flex="grow">
			<j-pagination funcoes="$ctrl.movs.data.funcPag"></j-pagination>
			<div ng-switch on="$ctrl.movs.tipoMov.data.row.tipo" class="atura-table">
				<div ng-switch-when="E">
					<md-table-container ng-show="$ctrl.movs.data.rows.length > 0">
					   <table md-table class="table table-condensed table-striped">
					    <thead md-head md-order="$ctrl.movs.data.orderBy" md-on-reorder="$ctrl.movs.data.filtros.functionRead">
					      <tr >
					      	<th style="width: 10% !important" md-column md-order-by="em.numero">
					        Nº Nota</th>
					        <th style="width: 15% !important" md-column md-order-by="em.data_emissao">
					        Data</th>
					        <th style="width: 30% !important" md-column md-order-by="p.p_emi_nome_comp">Emissor</th>
					        <th style="width: 20% !important" md-column md-order-by="p.p_emi_cpf_cnpj">CNPJ</th>
					        <th style="width: 5% !important" md-column md-order-by="em.desc_status">Situação</th>
					        <th style="width: 10% !important" md-column md-order-by="total">Total</th>
					      </tr>
					    </thead>
					   <tbody md-body>
					      <tr  class="row-table-click striped" md-select="row" md-select-id="id_mov" ng-repeat="row in $ctrl.movs.data.rows | orderBy: $ctrl.movs.data.orderBy" ng-click="$ctrl.movs.alterar(row)">
					      	<td md-cell>{{row.numero}}</td>
					        <td md-cell>{{$ctrl.movs.data.convDT(row.data_mov) | date:"dd/MM/yyyy HH:mm:ss"}}</td>
					        <td md-cell>{{row.p_emi_nome_comp}}</td>
					        <td md-cell>{{row.p_emi_cpf_cnpj}}</td>
					        <td md-cell>{{row.desc_status}}</td>
					        <td md-cell md-number><b>{{row.total | currency}}</b></td>
					      </tr>
					    </tbody>
					  </table> 
					</md-table-container>
				</div>
				<div ng-switch-default>
					<md-table-container ng-show="$ctrl.movs.data.rows.length > 0">
					   <table md-table class="table table-condensed table-striped">
					    <thead md-head md-order="$ctrl.movs.data.orderBy" md-on-reorder="$ctrl.movs.data.filtros.functionRead">
					      <tr >
					      	<th style="width: 10% !important" md-column md-order-by="em.numero">
					        Numero</th>
					        <th style="width: 15% !important" md-column md-order-by="em.data_mov">
					        Data</th>
					        <th style="width: 20% !important" md-column md-order-by="p.p_dest_nome_red">Apelido</th>
					        <th style="width: 30% !important" md-column md-order-by="p.p_dest_nome_comp">Cliente</th>
					        <th style="width: 15% !important" md-column md-order-by="vv.vendedor_nome_red">
					        Vendedor</th>
					        <th style="width: 5% !important" md-column md-order-by="em.desc_status">Situação</th>
					        <th style="width: 10% !important" md-column md-order-by="total">Total</th>
					      </tr>
					    </thead>
					   <tbody md-body>
					      <tr  class="row-table-click striped" md-select="row" md-select-id="id_mov" ng-repeat="row in $ctrl.movs.data.rows | orderBy: $ctrl.movs.data.orderBy" ng-click="$ctrl.movs.alterar(row)">
					      	<td md-cell>{{row.numero}}</td>
					        <td md-cell>{{$ctrl.movs.data.convDT(row.data_mov) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
					        <td md-cell>{{row.p_dest_nome_red}}</td>
					        <td md-cell>{{row.p_dest_nome_comp}}</td>
					        <td md-cell>{{row.vendedor_nome_red}}</td>
					        <td md-cell>{{row.desc_status}}</td>
					        <td md-cell md-number><b>{{row.total | currency}}</b></td>
					      </tr>
					    </tbody>
					  </table>
					</md-table-container>
				</div>
						
			</div>
		  	<div layout="row" layout-padding layout-align="end center">
		  		<span class="md-title">Total da Listado : </span>
		  		<span class="md-title text-info">
		  	 		<b>{{$ctrl.movs.soma($ctrl.movs.data.rows,'','total')|currency}}</b>
		  	 	</span>
		  	</div>			
		</div>
	</div>
</div>