<div layout="column" flex>
  <md-toolbar class="md-default md-hue-2">
    <div class="md-toolbar-tools">
      <md-button ng-show="$ctrl.funcoes.casal.row.id_casal" class="md-accent md-fab md-mini" ng-click="$ctrl.funcoes.casal.novo({})">
        <md-icon>add</md-icon>
        <md-tooltip md-autohide="true">Novo casal</md-tooltip>
      </md-button>
      <span>{{$ctrl.funcoes.casal.label+$ctrl.funcoes.title}}</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()" aria-label="close">
          <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card>
    <md-card-content>
      <form name="form" novalidate autocomplete="off">
        <div layout-padding>

          <div layout-gt-xs="row" >

            <div flex-gt-xs="30">

                <label>Foto Casal</label>
                <md-progress-linear class="md-warn" md-mode="determinate" ng-show="$ctrl.funcoes.casal.uploader.progress" ng-value="$ctrl.funcoes.casal.uploader.progress"></md-progress-linear>
                <div class="md-media-lg card-media">
                  <img src="{{$ctrl.funcoes.casal.pathImg}}{{$ctrl.funcoes.casal.row.foto?$ctrl.funcoes.casal.row.foto:'noImg.jpg'}}" class="img-responsive img-rounded" height="120">
                </div>
                <input type="file" class="btn btn-default btn-sm form-control" nv-file-select uploader="$ctrl.funcoes.casal.uploader"/>

            </div>
              <div flex-gt-xs="70">

              <md-input-container class="md-block" >
                <label>Nome do Marido</label>
                <input type="text" required  name="marido" ng-model="$ctrl.funcoes.casal.row.marido" >
                <div ng-messages="form.marido.$error" ng-show="form.marido.$invalid">
                  <p ng-message="required">Informe o nome do marido</p>
                </div>
              </md-input-container>

              <md-input-container class="md-block" >
                <label>Nome da esposa</label>
                <input type="text" required  name="esposa" ng-model="$ctrl.funcoes.casal.row.esposa" >
                <div ng-messages="form.esposa.$error" ng-show="form.esposa.$invalid">
                  <p ng-message="required">Informe o nome da esposa</p>
                </div>
              </md-input-container>
            </div>
          </div>


          <md-input-container class="md-block">
            <label>Endereço</label>
            <input type="text" name="endereco" ng-model="$ctrl.funcoes.casal.row.endereco" >
          </md-input-container>

          <md-input-container class="md-block">
            <label>Cidade</label>
            <input type="text" required  name="cidade" ng-model="$ctrl.funcoes.casal.row.cidade" >
            <div ng-messages="form.cidade.$error" ng-show="form.cidade.$invalid">
              <p ng-message="required">Informe o nome da cidade</p>
            </div>
          </md-input-container>


          <div layout-gt-xs="row">

            <md-input-container class="md-block">
              <label>Telefone 1</label>
              <input type="tel" required  name="telefone1" ng-model="$ctrl.funcoes.casal.row.telefone1" >
              <div ng-messages="form.telefone1.$error" ng-show="form.telefone1.$invalid">
                <p ng-message="required">Informe o numero do telefone valido</p>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Telefone 2</label>
              <input type="tel" name="telefone2" ng-model="$ctrl.funcoes.casal.row.telefone2" >
            </md-input-container>

          </div>

          <md-input-container class="md-block">
            <label>Email</label>
            <input type="email" name="email" ng-model="$ctrl.funcoes.casal.row.email" >
          </md-input-container>
        </div>

      </form>
    </md-card-content>
    <md-card-footer>
      <md-divider></md-divider>
      <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
          <md-button class="md-accent" ng-click="$ctrl.funcoes.casal.salvar()">Salvar</md-button>
        </md-card-icon-actions>
      <md-button ng-if="$ctrl.funcoes.casal.row.id_casal" class="md-raised md-primary" ng-click="$ctrl.funcoes.casal.rowsSelected.push($ctrl.funcoes.casal.row);$ctrl.ok($ctrl.funcoes.casal.rowsSelected)">
        Selecionar
        <md-tooltip  md-autohide="true">
            Selecionar este casal
        </md-tooltip>
      </md-button>
    </md-card-actions>
    </md-card-footer>
  </md-card>

</div>
