<style media="screen">
  #cor-pai{
    position:relative;
    background-color:{{$ctrl.funcoes.sessao.row.cor1}};
    width:100%;
    height:-webkit-fill-available;
  }
  #cor-filho{
    transition: all linear 0.1s;
    position:absolute;
    bottom:0px;
    width:5%;
    height:5%;
    background-color:{{$ctrl.funcoes.sessao.row.cor2}};
  }
</style>
<div class="visao" >
  <md-content>
    <md-card md-theme="dark-grey">
      <div class="md-actions" layout="row" layout-align="start center" >
        <!-- <md-button class="md-raised md-accent" aria-label="start" ng-click="$ctrl.funcoes.movimentar();iniciado=true" >Iniciar</md-button> -->
        <md-button class="md-raised md-warn" aria-label="start" ng-click="$ctrl.funcoes.reiniciar()" >Repetir</md-button>
        <md-button class="md-raised " aria-label="start" ngsf-toggle-fullscreen ng-click="$ctrl.funcoes.resetar()">Parar</md-button>
       </div>
    </md-card>
    <div id="cor-pai" flex>
      <div id="cor-filho">
      </div>
    </div>

  </md-content>
</div>
