<md-content flex>
  <md-card>
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="layout.pgitem.cadastros" name="cadastros">
        <md-icon>queue</md-icon>
        <span hide-xs>Cadastros</span>
      </md-nav-item>
      <md-nav-item md-nav-sref="layout.pgitem.estoque" name="estoque">
        <md-icon>widgets</md-icon>
        <span hide-xs>Estoque</span>
      </md-nav-item>
      <md-nav-item ng-hide="true" md-nav-sref="layout.pgitem.tabela" name="tabela">
        <md-icon>assignment</md-icon>
        <span hide-xs>Tabela de Preços</span>
      </md-nav-item>
      <md-nav-item md-nav-sref="layout.pgitem.categoria" name="categoria">
        <md-icon>style</md-icon>
        <span hide-xs>Gerenciar Categorias</span>
      </md-nav-item>
      <md-nav-item md-nav-sref="layout.pgitem.unidade" name="unidade">
        <md-icon>group_work</md-icon>
        <span hide-xs>Gerenciar Unidades</span>
      </md-nav-item>
    </md-nav-bar>
<!--     <div layout="row" flex>
          <md-toolbar class="md-table-toolbar md-default" flex>
            <div class="md-toolbar-tools" flex>
              <md-button class="md-accent md-fab" ng-class="{'md-mini':$ctrl.funcoes.item.mediaxs()}"  ng-click="$ctrl.movs.novo()">
                <md-icon>add</md-icon> 
                <md-tooltip md-autohide="true">Nova {{$ctrl.movs.tipoMov.data.row.descricao}}</md-tooltip>
              </md-button>
              <md-button class="md-primary" ng-class="{'md-icon-button':$ctrl.movs.data.mediaxs()}"  ng-click="$ctrl.movs.novo()">
                <md-icon>library_add</md-icon> 
                <span hide-xs>{{$ctrl.movs.tipoMov.data.row.descricao}}</span>
                <md-tooltip md-autohide="true">Nova {{$ctrl.movs.tipoMov.data.row.descricao}}</md-tooltip>
              </md-button>
            </div>
          </md-toolbar>

          <md-tabs md-dynamic-height md-selected="0" flex>
                <md-tab label=""  md-on-select="" md-on-deselect="">
                    <md-tab-label>
                        Movimentos
                        <md-icon hide-gt-xs>
                          call_made
                        </md-icon>
                    </md-tab-label>
                </md-tab>
                <md-tab label=""  md-on-select="" md-on-deselect="">
                    <md-tab-label>
                        <span >Itens</span>
                        <md-icon hide-gt-xs>
                          format_list_numbered
                        </md-icon>
                    </md-tab-label>

                </md-tab>
          </md-tabs>              
    </div> -->


    <div ui-view></div>
  </md-card>
<md-content>